<changelist name="spring" date="1709484368932" recycled="false">
  <option name="PATH" value="$PROJECT_DIR$/.idea/shelf/spring/shelved.patch" />
  <option name="DESCRIPTION" value="spring" />
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value=".idea/sonarlint/issuestore/0/e/0e7ae8e0a4476f14a56c88834d1049404b1b5d0f" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/0e7ae8e0a4476f14a56c88834d1049404b1b5d0f" />
  </binary>
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value=".idea/sonarlint/issuestore/1/2/124082cfe2d4d93cbeecf5c7bad5a3af69448e69" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/124082cfe2d4d93cbeecf5c7bad5a3af69448e69" />
  </binary>
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value=".idea/sonarlint/issuestore/3/0/30728e6f0fd95acd7b50fd396b5471ef4858a524" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/30728e6f0fd95acd7b50fd396b5471ef4858a524" />
  </binary>
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value=".idea/sonarlint/issuestore/3/7/371002410e2a6bb6aafe8d3c5f92ebf754999391" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/371002410e2a6bb6aafe8d3c5f92ebf754999391" />
  </binary>
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value=".idea/sonarlint/issuestore/3/e/3e2849641ae81c802364736a186fa9d17bfcbf3e" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/3e2849641ae81c802364736a186fa9d17bfcbf3e" />
  </binary>
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value=".idea/sonarlint/issuestore/d/3/d34d6a164576ea9339be5973ddf722ba64b82af8" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/d34d6a164576ea9339be5973ddf722ba64b82af8" />
  </binary>
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value=".idea/sonarlint/issuestore/e/4/e44a8606ce010ad9b89aafdfcee2ab49afbf6d10" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/e44a8606ce010ad9b89aafdfcee2ab49afbf6d10" />
  </binary>
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value="target/classes/accesingdatapostgres/api/CarApi.class" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/CarApi.class" />
  </binary>
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value="target/classes/accesingdatapostgres/dao/dto/CarDto.class" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/CarDto.class" />
  </binary>
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value="target/classes/accesingdatapostgres/dao/entity/CarEntity.class" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/CarEntity.class" />
  </binary>
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value="target/classes/accesingdatapostgres/dao/CarRepository.class" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/CarRepository.class" />
  </binary>
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value="target/classes/accesingdatapostgres/service/CarService.class" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/CarService.class" />
  </binary>
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value="target/classes/accesingdatapostgres/CarApplication$1.class" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/CarApplication$1.class" />
  </binary>
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value="target/classes/accesingdatapostgres/CarApplication.class" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/CarApplication.class" />
  </binary>
  <binary>
    <option name="BEFORE_PATH" />
    <option name="AFTER_PATH" value="target/classes/repository/CarsRepository.class" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/spring/CarsRepository.class" />
  </binary>
</changelist>